<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh">
<title>SB Admin 2</title>
<script language="javascript">

</script>
</head>
<body>
Go to <a href="/static/pages/work1.html">/pages/index.html</a>
{% include 'work2.html' %}
</body>
</html>
